    /*fuentes*/   
    $font-family: "Roboto", sans-serf;
    $normal-font: 400;
    $bold-font: 700;
    $bolder-font: 900;

    /*Colores*/
    $bg-color: #e8f2f5;
    $primary-color: #4756df;
    $secondary-color: #e41b1b;
    $primary-shadow: #8b8eaf;
    $secondary-shadow: #a17a69;
    

    /*botones*/
    $bottom-margin: 0.5rem;
    $bottom-margin-2: 1rem;
    $line-height: 1.7rem;
    $transition: 0.3s;