/* Barra de Navegacion*/
.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    color: #4756df;
    font-weight: bold;
}

/*Estilo general*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.imagen-perfil {
    width: 350px;
    border-radius: 50px;
    margin: 20px;
    background-color: #9eb8be;

}

h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}
h2 {
    font-size: 1.5rem;
    font-family: 'Rubik Dirt', cursive;
}
    

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
    font-weight: bold;

}

.fondo-oscuro {
    color: white;
    background-color: #3c3c6c;

}

.fondo-claro {
    color: black;
    background-color: white;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
    text-align: center;

}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
    text-align: center;

}

.seccion-texto {
    font-size: 1.2rem;
}

.texto-blanco {
    color: white;
}

/*Seccion Hero*/
.hero-principal {
    padding: 3rem;
}
.hero {
    background-color: white;
    min-height: 450px;
    text-align: center;
    
}
.hero-imagen-perfil {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: #afb0b6;
}
.hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
}
