/* base*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Barra de Navegacion*/
.navbar {
  padding: 2rem;
  background-color: #f5f6f7; }

.navbar-collapse {
  align-items: center;
  justify-content: space-between; }

.nav-link {
  color: #4756df;
  font-weight: bold; }

/*Estilo general*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.imagen-perfil {
  width: 350px;
  border-radius: 50px;
  margin: 20px;
  background-color: #9eb8be; }

h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive; }

h2 {
  font-size: 1.5rem;
  font-family: 'Rubik Dirt', cursive; }

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
  font-weight: bold; }

.fondo-oscuro {
  color: white;
  background-color: #3c3c6c; }

.fondo-claro {
  color: black;
  background-color: white; }

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Rubik Dirt', cursive;
  text-align: center; }

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
  text-align: center; }

.seccion-texto {
  font-size: 1.2rem; }

.texto-blanco {
  color: white; }

/*Seccion Hero*/
.hero-principal {
  padding: 3rem; }

.hero {
  background-color: white;
  min-height: 450px;
  text-align: center; }

.hero-imagen-perfil {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: #afb0b6; }

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151; }

/*abstracts*/
/*fuentes*/
/*Colores*/
/*botones*/
/*layout*/
/*Sobre mi */
.iconos-lenguajes {
  display: flex;
  place-content: center;
  width: 100%;
  height: 100%;
  background: #eeeef0; }

.sobre-mi {
  height: 500px;
  padding: 10px; }

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center; }

/*Seccion panel informativo*/
.informativo {
  padding: 40px 40px 60px 40px;
  background-color: #eff38d; }

.informativo .columna {
  padding: 20px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in; }

.informativo .columna:hover {
  color: #e8f2f5;
  background-color: #3f3777; }

.informativo-titulo {
  font-size: 25px;
  margin: 10px 0;
  color: #040608;
  font-family: 'Rubik Dirt', cursive; }

.badges-contenedor {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0; }

.badge {
  margin: 5px;
  background-color: #7ade30; }

/*botones de bootstrap*/
.informativo i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%; }

/*Laboral*/
.laboral-recientes {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: block;
  transition: all 0.2s ease;
  background-color: #e8f2f5; }

.laboral-contenedor {
  padding-top: 60px;
  margin-bottom: 40px; }

.card img {
  width: 4rem; }

.card img:hover {
  transform: scale(1);
  width: 100px;
  transition: all 0.2s; }

.card-img-top {
  border-radius: 10%; }

.card {
  position: relative;
  padding: 2rem;
  border-radius: 2%;
  background: linear-gradient(#8b899f, #69af73);
  height: 100%; }

.card-title {
  font-family: 'Rubik Dirt', cursive; }

/*Articulos*/
.articulos {
  min-height: 500px;
  background-color: #a2d4dc;
  padding: 5px 10px 10px 5px; }

.articulos-card {
  background-color: #a1a4c0;
  border: 2px solid black; }

.card-header {
  font-weight: bold;
  text-align: center; }

.btn-info {
  background-color: #838388; }

/*proyectos*/
.proyectos {
  padding: 40px 40px 80px 40px;
  background-color: #7ade30; }

.proyectos .carousel {
  max-width: 850px;
  background-color: #e8f2f5; }

.carousel-item {
  height: 500px; }

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.proyectos-imagen {
  height: 200px;
  width: 200px;
  margin: 10px 10px 20px 10px;
  border-radius: 50%; }

.proyectos-texto {
  max-width: 90%;
  font-size: 15px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.proyectos-info {
  font-weight: bold;
  text-align: center; }

.proyectos-info p {
  margin-bottom: 0; }

.nombre-proyecto {
  font-size: 1.2rem; }

/*Contacto*/
.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px; }

.contacto .rectangulo {
  margin-top: -5rem;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
  background-color: #4756df; }

.rectangulo-ap {
  background-color: #e41b1b; }

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center; }

.contacto .descripcion {
  color: #e8f2f5;
  font-size: 1.2rem; }

.contacto button {
  color: #e8f2f5;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out; }

.contacto button i {
  color: #e8f2f5;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out; }

/*Pie de pagina (footer) */
.footer {
  min-height: 500px; }

.desplazarse-hacia-arriba {
  position: fixed;
  right: 0.5%;
  bottom: 2%;
  cursor: pointer;
  transform: rotate(90deg); }

.flecha-arriba {
  width: 3.0rem;
  height: 3.0rem;
  border-radius: 50%;
  border: 2px solid black; }

/*agregado de aptitudes*/
#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }

#galeria img {
  width: 100%;
  height: 250px; }

#galeria img:hover {
  border: 5px solid #f7f7f7; }

/*formulario*/
.formulario {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5f7;
  background-image: radial-gradient(#d463eb 0.5px, transparent 0.5px), radial-gradient(#bf5dd3 0.5px, #7f7f8d 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  display: flex;
  min-height: 100vh; }

.form {
  background-color: #fff;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5pxrgba 0 0 0/30%;
  text-align: center; }

.form__title {
  font-size: 2rem;
  margin-bottom: .5em; }

.form-paragraph {
  font-weight: 300; }

.form__link {
  font-weight: 400;
  color: #000; }

.form__container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em; }

.form__group {
  position: relative;
  --color: #5757577E; }

.form__input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-family: 'roboto', sans-serif; }

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #3866f2; }

.form__label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform .5s, color .3s; }

.form__submit {
  background: #3866f2;
  color: #fff;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: .5em; }

.form__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3866f2;
  transform: scale(0);
  transform: left bottom;
  transition: transform .4s; }

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line {
  transform: scale(1); }

@media (max-width: 425px) {
  .form__title {
    font-size: 1.8rem; } }

/*footer*/
.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px; }

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif; }

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in; }

.iconos-redes-sociales i {
  color: #e8f2f5;
  font-size: 1.5rem;
  transition: all 0.2s ease-in; }

.iconos-redes-sociales a:hover {
  background-color: #e8f2f5;
  border: 2px solid #4756df; }

.iconos-redes-sociales a:hover i {
  color: black; }

.derecho-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
  text-align: center; }

/*Adaptable (responsivo)*/
@media screen and (max-width: 800px) {
  .proyecto-imagen {
    height: 120px;
    width: 120px; }
  .proyecto-texto {
    font-size: 10px; } }

@media screen and (min-width: 400px) {
  .sobre p {
    font-size: 18px; }
  .sobre i {
    font-size: 400px; } }

/* adaptable responsive */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none; } }

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px; } }

/*font*/
